@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories";
}
<div class="container">
    <div class="row pt-5 pb-4">
        <div class="col-6 text-primary">
            <h2>Category list</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Category" asp-action="Create"><i class="bi bi-plus-circle"></i>&nbsp;&nbsp;&nbsp;Add New Category</a>
        </div>
    </div>

    <table class="table table-hover text-white">
        <thead>
            <tr class="py-4">
                <th>
                    <span>
                        Category Name
                    </span>
                </th>
                <th>
                    <span>
                        Display Order
                    </span>
                </th>
                <th>
                    <span>
                        Options
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var obj in Model)
                {
                    <tr>
                        <td width="50%">
                            @obj.Name
                        </td>
                        <td width="30%">
                            @obj.DisplayOrder
                        </td>
                        <td class="text-center">
                            <div class="btn-group w-100" role="group">
                                <a class="btn btn-secondary w-50 mx-2" asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pencil-square"></i>   Edit</a>
                                <a class="btn btn-danger w-50 mx-2" asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id"><i class="bi bi-trash3"></i>   Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>